@font-face {
  font-family: Istok;
  font-display: swap;
  src: url("../fonts/IstokWeb-Bold.woff2") format("woff2"), url("../fonts/IstokWeb-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Humnst777;
  font-display: swap;
  src: url("../fonts/Humanist 777 Black Italic BT.woff2") format("woff2"), url("../fonts/Humanist 777 Black Italic BT.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Istok;
  font-display: swap;
  src: url("../fonts/IstokWeb-Regular.woff2") format("woff2"), url("../fonts/IstokWeb-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Istok";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Istok";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  touch-action: pan-x pan-y;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease 0s;
}
.lock body {
  overflow: hidden;
  touch-action: none;
}
body._loaded {
  opacity: 1;
  visibility: visible;
}
body._hold {
  overflow: hidden;
}

.wrapper {
  min-height: 100vh;
  display: none;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  padding: 0 0.75rem;
  background: url("../img/main/bg-main.jpg") center/cover no-repeat;
}
.wrapper._visible {
  display: flex;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  background: linear-gradient(180deg, #f0d334 0%, #f9c700 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  position: relative;
  transition: all 0.3s ease 0s;
}
.button p {
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.4375;
  color: #000;
  text-transform: uppercase;
  padding: 0 2.1875rem;
  white-space: nowrap;
}
.button_red {
  background: #c71616;
}
.button_red p {
  color: #fff;
}
.button:active {
  transform: translateY(2px);
}
.button._hold {
  opacity: 0.5;
  pointer-events: none;
}

.preloader {
  background: url("../img/main/bg-main.jpg") center/cover no-repeat;
  width: 100%;
  min-height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.preloader._hide {
  display: none;
}
.preloader__button {
  width: 80%;
  position: fixed;
  bottom: 1.875rem;
  left: 0;
  right: 0;
  z-index: 3;
  margin: 0 auto;
}
.acces-preloader {
  width: 90%;
  max-height: 78vh;
  padding: 0.9375rem 0.625rem 5rem;
  margin: 7.5rem 1.25rem 0;
  display: flex;
  flex-direction: column;
  position: relative;
  background: #c71616;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  overflow: auto;
  z-index: 2;
}
@media (min-height: 40.625em) {
  .acces-preloader {
    max-height: 82vh;
  }
}
@media (min-height: 50em) {
  .acces-preloader {
    max-height: 85vh;
  }
}
.acces-preloader._hide {
  display: none;
}
.acces-preloader__text {
  padding-bottom: 0.375rem;
}

.text-pre {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.4166666667;
  color: #000;
}

.clipper {
  position: absolute;
  top: 10%;
  left: -40%;
}

.lines {
  position: absolute;
  bottom: 20%;
  right: -40%;
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
}
.lines__line {
  width: 12.5rem;
  height: 0.5625rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.lines__line_1 {
  background: linear-gradient(307.29deg, #1400ff 18.96%, #8a8fff 49.43%, #170073 94.22%);
}
.lines__line_2 {
  background: linear-gradient(307.29deg, #00f0ff 18.96%, #8afff8 49.43%, #005e73 94.22%);
}
.lines__line_3 {
  background: linear-gradient(307.29deg, #14ff00 18.96%, #8aff96 49.43%, #007319 94.22%);
}
.lines__line_4 {
  background: linear-gradient(307.29deg, #faff00 18.96%, #ffde8a 49.43%, #707300 94.22%);
}
.lines__line_5 {
  background: linear-gradient(307.29deg, #ff0000 18.96%, #ff8a8a 26.13%, #730000 94.22%);
}

.logo {
  position: absolute;
  top: 1.875rem;
  left: 50%;
  transform: translateX(-50%);
  width: 14.875rem;
  height: 4.4375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #130d0d;
  border: 3px solid #a20303;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}
.logo p {
  font-family: "Humnst777";
  font-style: italic;
  font-weight: 900;
  font-size: 2.25rem;
  line-height: 1.25;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.bank__body {
  min-width: 90%;
  min-height: 2.625rem;
  background: #130d0d;
  border: 1px solid #a20303;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bank__count {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.45;
  color: #ffffff;
  padding-right: 0.9375rem;
}
.bank__count._no-money {
  animation: no-money 0.5s ease 2;
}
.bank__count._delete-money {
  animation: delete-money 0.5s ease;
}
.bank__count._anim-add-money {
  animation: add-money 0.5s ease 2;
}
.bank img._anim-icon-jump {
  animation: jump_icon 5s ease;
}
.bank img._anim-icon-scale {
  animation: scale_icon 0.5s ease 2;
}
.bank img._anim-icon-rotate {
  animation: rotate_icon 1.5s ease-out 1;
}

.button-back {
  background: url("../img/icons/arrow-left.svg") center 35%/33px 26px no-repeat, #c71616;
  width: 3.125rem;
  height: 2.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.header_shop {
  display: flex;
  justify-content: flex-end;
}
.header_game {
  display: grid;
  grid-template-columns: 5fr 1fr;
  align-items: center;
}
.header__text {
  justify-self: center;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.4375;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  padding-left: 3.125rem;
  position: relative;
  top: 0.3125rem;
}

.block-bet {
  width: 100%;
}
.block-bet._hold {
  pointer-events: none;
  opacity: 0.3;
}
.block-bet__controls {
  height: 2.625rem;
  background: #130d0d;
  border: 1px solid #a20303;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  position: relative;
}
.block-bet__controls._hold {
  transition: all 0.6s ease 0s;
  pointer-events: none;
  opacity: 0.3;
}
.block-bet__minus, .block-bet__plus {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 3.5625rem;
  height: 1.9375rem;
  background: #c71616;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.block-bet__minus span, .block-bet__plus span {
  font-weight: 700;
  font-size: 1.875rem;
  color: #ffffff;
  margin-top: 0.25rem;
}
.block-bet__minus {
  left: 5%;
}
.block-bet__plus {
  right: 5%;
}
.block-bet__bet {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.block-bet__coins {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.25;
  color: #ffffff;
  margin-right: 0.625rem;
  margin-top: 0.3125rem;
}
.block-bet__icon {
  margin-right: -20px;
}

.main__body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
}
.main__buttons {
  display: flex;
  flex-direction: column;
  row-gap: 2.1875rem;
}
.main__button {
  background: #c71616;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  width: 13.5625rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__button p {
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.4375;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
}
.main__shop-block {
  position: absolute;
  bottom: 0.9375rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 0rem 0.625rem;
}
.main__shop-button {
  margin: 0 0 0.625rem 0;
}
.shop {
  position: relative;
  z-index: 3;
}
.shop__body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.shop__header {
  margin: 1.5625rem 0 2.1875rem;
}
.shop__label {
  margin-bottom: 0.9375rem;
  width: 100%;
}
.shop__label:active {
  transform: translateY(0px);
}
.shop__box {
  flex: 1 1 auto;
  margin-bottom: 0.625rem;
}
.shop__bank {
  margin-bottom: 0.9375rem;
}

.item-shop {
  background: #c71616;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.item-shop__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4.375rem 1.875rem;
}
.item-shop__item {
  width: 100%;
  display: flex;
  align-items: center;
}
.item-shop__item:not(.item-shop__item:last-child) {
  margin-bottom: 4.4375rem;
}
.item-shop__column {
  flex: 0 1 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.item-shop__price {
  position: absolute;
  bottom: -2.8125rem;
  left: 50%;
  width: 5.0625rem;
  height: 3.125rem;
  transform: translateX(-50%);
  background: #130d0d;
  border: 3px solid #a20303;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-shop__price P {
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 1.2857142857;
  color: #ffffff;
  position: relative;
  top: 0.25rem;
}
.item-shop__button-buy {
  width: 7.375rem;
}

.box-bonus {
  position: relative;
  width: 6.25rem;
  height: 5.0625rem;
  z-index: 2;
  background: linear-gradient(180deg, #b4921a 0%, #e4bd32 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-bonus__text {
  font-weight: 700;
  font-size: 4rem;
  line-height: 1.4375;
  color: #ffffff;
}
.box-bonus__text_small {
  font-size: 2.1875rem;
  line-height: 1.4285714286;
}
.box-bonus__count {
  position: absolute;
  top: -0.625rem;
  right: -0.625rem;
  width: 1.4375rem;
  height: 1.4375rem;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 1.0625rem;
  line-height: 1.4117647059;
  color: #000000;
}
.game__body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.game__header {
  margin: 1.5rem 0 3.125rem;
}
.game__field {
  flex: 1 1 auto;
}
.game__footer {
  margin-bottom: 0.9375rem;
}

.footer-game__button-bet {
  width: 100%;
  margin-bottom: 0.5rem;
}
.footer-game__block-bet {
  margin-bottom: 1.6875rem;
}
.footer-game__bonuses {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.75rem;
}
.footer-game__bonuses._hold {
  pointer-events: none;
  opacity: 0.3;
}
.footer-game__bonuses._not-active {
  pointer-events: none;
}
.field-game {
  display: flex;
  align-items: flex-end;
}
@media (min-height: 50em) {
  .field-game {
    align-items: center;
  }
}
.field-game__body {
  height: 100%;
  width: 100%;
  margin-bottom: 2.8125rem;
  margin-top: 5rem;
  position: relative;
}
.field-game__clipper {
  position: absolute;
  bottom: 0;
  left: 80%;
  z-index: 3;
  transition: all 0.6s ease 0s;
}
.field-game__clipper._active {
  animation: move_clipper 0.5s ease 2 0.5s;
}
.field-game__clipper._bang {
  animation: bang_clipper 0.7s ease forwards;
}
.field-game__clipper img {
  max-width: 11.4375rem;
  transform: rotateY(180deg);
}
.field-game__bomb {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}
.field-game__image {
  position: relative;
  display: inline-block;
}
.field-game__image img {
  position: relative;
  z-index: 2;
}
.field-game__multiple {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 13.6875rem;
  height: 6.0625rem;
  transform: translate(-50%, -50%);
  background: #130d0d;
  border: 3px solid #a20303;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.field-game__multiple p {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.45;
  color: #ffffff;
}
.field-game__fire {
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translateX(-50%) scale(1.5);
  z-index: 4;
}
.wires {
  position: absolute;
  width: 80%;
  height: 100%;
  top: -6.25rem;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-around;
}
.wires._hold {
  pointer-events: none;
}
.wires__pin {
  position: absolute;
  top: -3.125rem;
  left: -5px;
  width: 1.25rem;
  z-index: 2;
  transition: all 0.5s ease 0s;
}
.wires__wire {
  width: 0.5625rem;
  height: 9.375rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  top: 0;
  transition: top 0.3s ease 0s;
}
.wires__wire._active {
  top: -1.25rem;
}
.wires__wire._prompt {
  animation: prompt_wire 0.5s ease-out infinite;
}
.wires__wire._hide {
  opacity: 0.3;
  pointer-events: none;
}
.wires__wire_red {
  background: linear-gradient(307deg, #ff0000 18.96%, #ff8a8a 26.13%, #730000 94.22%);
}
.wires__wire_yellow {
  background: linear-gradient(307.29deg, #faff00 18.96%, #ffde8a 49.43%, #707300 94.22%);
}
.wires__wire_green {
  background: linear-gradient(307.29deg, #14ff00 18.96%, #8aff96 49.43%, #007319 94.22%);
}
.wires__wire_sky {
  background: linear-gradient(307.29deg, #00f0ff 18.96%, #8afff8 49.43%, #005e73 94.22%);
}
.wires__wire_blue {
  background: linear-gradient(307.29deg, #1400ff 18.96%, #8a8fff 49.43%, #170073 94.22%);
}

.win {
  position: absolute;
  top: -200%;
  left: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  width: 100%;
  min-height: 100%;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.7s ease 0s;
}
.win._active {
  top: 0;
  opacity: 1;
  visibility: visible;
}
.win__sub-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 3.5rem;
  font-weight: 900;
  white-space: nowrap;
}
.win__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(248, 232, 133);
  font-size: 3.125rem;
  font-weight: 900;
}
.win__body {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  column-gap: 0.625rem;
}
.win__button {
  width: 10.625rem;
  height: 2.6875rem;
}
.win__button_play {
  margin-bottom: 0.9375rem;
}
.win__button p {
  font-size: 1.25rem;
  line-height: 1.2142857143;
}

.loose {
  position: absolute;
  top: -200%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  width: 100%;
  min-height: 100%;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.7s ease 0s;
}
.loose._active {
  top: 0;
  opacity: 1;
  visibility: visible;
}
.loose__sub-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 3.5rem;
  font-weight: 900;
  white-space: nowrap;
}
.loose__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(248, 232, 133);
  font-size: 3.125rem;
  font-weight: 900;
}
.loose__body {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  column-gap: 0.625rem;
}
.loose__button {
  width: 10.625rem;
  height: 2.6875rem;
}
.loose__button_play {
  margin-bottom: 0.9375rem;
}
.loose__button p {
  font-size: 1.25rem;
  line-height: 1.2142857143;
}

@keyframes no-money {
  0% {
    color: #fff;
  }
  100% {
    color: rgb(255, 0, 0);
    transform: scale(1.1);
  }
}
@keyframes delete-money {
  0% {
    color: #fff;
  }
  100% {
    color: rgb(255, 155, 155);
    transform: translateY(3px);
  }
}
@keyframes add-money {
  100% {
    color: yellow;
    transform: translateY(-3px);
  }
}
@keyframes jump_icon {
  0%, 69% {
    transform: translate(0, 0);
  }
  77% {
    transform: translate(0, -10px);
  }
  80% {
    transform: translate(0px, 0px);
  }
  82% {
    transform: translate(0px, -6px);
  }
  85% {
    transform: translate(0px, 0px);
  }
  87% {
    transform: translate(0px, -2px);
  }
  90% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes scale_icon {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
@keyframes rotate_icon {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
@keyframes move_clipper {
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes bang_clipper {
  100% {
    transform: scale(1.3) rotate(360deg);
    bottom: 150%;
    left: 120%;
  }
}
@keyframes prompt_wire {
  100% {
    opacity: 0.3;
  }
}
